<% if user.errors.any? %>
  <div id="error_explanation">
    <h4><%= user.errors.count %>件のエラーがあります。</h4>
    <ul>
    <% user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
